<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.HelloWorld"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label2"
                class="lable_overflow"
            >
                vMessage:
            </label>
            <div>
                <mat-form-field>
                    <div>
                        <input
                            matInput
                            [magic]="mgc.V_vMessage"
                            [formControlName]="mgc.V_vMessage"
                            mgFormat
                        >
                        <mgError [magic]=mgc.V_vMessage> </mgError>
                    </div>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>